head
  meta(charset='utf-8')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1')
  link(rel='shortcut icon', href='')
  title Chat

body
  #root
