template(name='rooms')
  section#rooms.app-content
    header.app-header
      a(href="{{routePath 'logout'}}", title='Logout').icon &#xE778;
      h2.title Rooms
      a(href="{{routePath 'newRoom'}}").icon &#xE710;
    
    section.rooms-container
      ul.rooms
        each room in rooms
          li
            a.room(href="{{routePath 'room' room}}", class="{{roomClass room}}")
              .avatar.img-rounded
              .details
                span.name #{room.name} &nbsp;
                span.text #{room.description} &nbsp;
