body[page=login], body[page=signup]
  background-color: #fff

#login, #signup
  text-align: center
  padding-top: 80px

  .appname
    font-size: 40px
    font-weight: 300
    text-align: center
    margin-bottom: 24px

  input
    margin-left: auto
    margin-right: auto

    // <= 480px
    @media (max-width: 30em)
      width: 95%
