template(name='login')
  section#login
    h1.appname Chat
    
    p.subtitle 
      | Sign in or 
      a(href="{{routePath 'signup'}}") create an account
    
    form(name='login')
      input.input-big(type='text', name='email', placeholder='E-mail', value='', required, autofocus)
      input.input-big(type='password', name='password', placeholder='Password', value='', required)
      input.input-big(type='submit', value='Login')
