.row
  display: flex
  flex-direction: row

.col
  flex: 1

.row-vertical
  display: flex
  flex-direction: column

//< 768px
@media (max-width: 48em)
  .row
    flex-direction: column

    > .col
      flex: 0 0 auto

//>= 768px
@media (min-width: 48em)
  .col-10
    flex: 0 0 10%

  .col-20
    flex: 0 0 20%

  .col-25
    flex: 0 0 25%

  .col-33
    flex: 0 0 33.3333334%

  .col-50
    flex: 0 0 50%
