template(name='signup')
  section#signup
    h1.appname Chat
    
    p.subtitle 
      a(href="{{routePath 'login'}}") Sign in
      | or create an account
    
    form(name='signup')
      input.input-big(type='text', name='name', placeholder='Name', value='', required, autofocus)
      input.input-big(type='email', name='email', placeholder='E-mail', value='', required)
      input.input-big(type='password', name='password', placeholder='Password', value='', required)
      input.input-big(type='password', name='confirm_password', placeholder='Confirm password', value='', required)
      input.input-big(type='submit', value='Create an account')
