template(name='room')
  section#room.app-content
    header.app-header
      a(href="{{routePath 'index'}}").icon &#xE72B;
      h2 {{room.name}}
      a#deleteRoom(href='#', title='Delete room', rel='button', data-id='{{room._id}}', data-action='delete').icon &#xE74D;
      
    section.messages-container
      ul.messageGroups
        each messageGroup in messageGroups
          li.messageGroup.clearfix(class="{{messageClass messageGroup.[0]}}")
            .messages
              with getUser messageGroup.[0].userId
                .message.user-name.clearfix #{profile.name}:
                
              each message in messageGroup
                .message.clearfix
                  span.text #{message.text}
    
    form#newMessageForm
      input(type='text', name='message', placeholder='Type a message...', value='', required)
      button(type='submit').icon &#xE72A;
