@import "../../../stylesheets/variables"

#room
  display: flex
  flex-direction: column
  align-items: stretch
  height: 100%

  > .messages-container
    display: flex
    flex: 1
    overflow-y: scroll
    // align-items: flex-end BUG: Disable scrolling


    .messageGroups
      width: 100%
      margin: 12px

      .messageGroup
        .user-name
          margin-bottom: 2px
          font-weight: bold

        .messages
          display: flex
          flex-direction: column
          flex: 1

          .message
            flex: 1
            margin-bottom: 2px
            padding: 6px 12px
            border: 1px solid transparent

        &.sent
          .user-details
            display: none

          .messages
            align-items: flex-end

            .message
              float: right
              border-radius: 16px 4px 4px 16px
              background-color: $mainColor
              border-color: $mainColor
              color: #fff

              &.user-name
                background-color: transparent !important
                border-color: $mainColor
                color: $mainColor

              &:first-child
                border-top-right-radius: 16px

              &:last-child
                border-bottom-right-radius: 16px

        &:not(.sent)
          .messages
            align-items: flex-start

            .message
              float: left
              border-radius: 4px 16px 16px 4px
              background-color: rgba(0, 0, 0, 0.05)
              border-color: rgba(0, 0, 0, 0.05)

              &.user-name
                background-color: transparent !important
                border-color: $foregroundColor
                color: $foregroundColor

              &:first-child
                border-top-left-radius: 16px

              &:last-child
                border-bottom-left-radius: 16px

  > #newMessageForm
    display: flex
    flex-direction: row
    border-top: 1px solid rgba(0, 0, 0, 0.1)

    > input[type='text']
      flex: 1
      height: 50px
      line-height: 50px
      border: none

    > input[type='submit'], button[type='submit']
      display: none
