template(name='header')
  header
  
    ul 
      if currentUser
        li
          a(href="{{routePath 'logout'}}") 
            | Logout (#{currentUser.profile.name})
      else
        li
          a(href="{{routePath 'login'}}") Login
        li
          a(href="{{routePath 'signup'}}") Sign Up
