template(name='newRoom')
  section#newRoom.app-content
    header.app-header
      a(href="{{routePath 'index'}}").icon &#xE72B;
      h2.title #{newRoom.name}
        
    form(name='newRoom').row-vertical
      input(type='text', name='room', placeholder='Type the name of the new room', value='', required, autofocus)
      input(type='text', name='description', placeholder='Type a description for the new room', value='')
      .col
      button(type='submit').icon &#xE8FB;
