@import "../../../stylesheets/variables"

#newRoom
  display: flex
  flex-direction: column
  align-items: stretch

  > form[name='newRoom']
    height: 100%
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)

    input, button
      height: 50px
      line-height: 50px
      border: none
